{$US_HOST:us.mossvale.world} {
	encode zstd gzip
	@entry {
		method GET HEAD
		path / /index.html
		header Accept *text/html*
		not header Upgrade *
		not header Authorization *
	}
	handle @entry {
		reverse_proxy game:2567 {
			header_up X-Mossvale-Client-IP {http.request.remote.host}
			transport http {
				response_header_timeout 5s
			}
			@restarting status 5xx
			handle_response @restarting {
				root * /srv/mossvale
				rewrite * /realm-restarting.html
				header Cache-Control no-store
				header Retry-After 5
				header Referrer-Policy no-referrer
				file_server {
					status 503
				}
			}
		}
	}
	handle {
		reverse_proxy game:2567 {
			header_up X-Mossvale-Client-IP {http.request.remote.host}
		}
	}
	handle_errors 5xx {
		handle @entry {
			root * /srv/mossvale
			rewrite * /realm-restarting.html
			header Cache-Control no-store
			header Retry-After 5
			header Referrer-Policy no-referrer
			file_server {
				status 503
			}
		}
	}
}
